$brand-orange: #FD6514;
$brand-pink: #F241B3;
$brand-white: #FFFFFF;

$font-raleway:'Raleway', sans-serif;
$font-courier: 'Courier New', Courier, monospace;
$font-montserrat: 'Montserrat';

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 130px 100vh;
    grid-template-areas: 
        "header"
        "main";

    .head {
        grid-area: header;
        display: flex;
        align-items: center;
        /*border: 5px solid $brand-white;*/

        .signature{
            position: absolute;
            top: 30px;
            transform: translateX(20px);
            
            font-family: $font-raleway;
            font-style: italic;
            font-weight: bold;
            font-size: 32px;
            text-align: center;
            color: $brand-white;
        }

        .settings-btn{
            position: absolute;
            top: 80px;
            left: 15px;

            background-color: transparent;
            border-color: transparent;
            cursor: pointer;

            &:hover{
                path{fill: $brand-orange;}
            }
        }

        .clipboard-btn{
            position: absolute;
            top: 80px;
            left: 65px;

            background-color: transparent;
            border-color: transparent;
            cursor: pointer;

            &:hover{
                path{fill: $brand-orange;}
            }
        }

        .copied-alert{
            position: absolute;
            top: 80px;
            left: 120px;

            background-color: #488286;
            padding: 0px 15px 5px 5px; // top, right, bottom, left
            border-radius: 20px;

            .alert-check{
                position: relative;
                top: 5px;
                margin-right: 5px;
                g{fill: #234d50}
            }

            .alert-msg{
                font-family: $font-raleway;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                color: #234d50;
            }
        }

        .linkedin-icon{
            position: absolute;
            top: 30px;
            right: 120px;
            transform: translateX(100%);
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            &:hover{
                path{fill: $brand-orange;}
            }
        }

        .github-icon{
            position: absolute;
            top: 30px;
            right: 60px;
            transform: translateX(100%);

            &:hover{
                path{fill: $brand-orange;}
            }
        }
    }

    .body {
        grid-area: main;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 250px 100px 200px;
        grid-template-areas: 
            "output"
            "logo"
            "form";

        .output-box{
            grid-area: output;
            /*border: 5px solid $brand-pink;*/
            display: flex;
            align-items: center;
            justify-content: center;

            .text-output{
                white-space: pre;
                font-family: $font-courier;
                font-weight: bold;
                font-size: 18px;
                color: $brand-white;
                text-align: center;
            }
        }

        .logo-box{
            grid-area: logo;
            /*border: 5px solid $brand-white;*/
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-box{
            grid-area: form;
            /*border: 5px solid $brand-orange;*/
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 100px 50px;
            grid-template-areas: 
                "inputs"
                "button";

            .white-rectangle{
                grid-area: inputs;
                width: 47%;
                height: 80px;
                background-color: $brand-white;
                border: 1px solid #53568E;
                border-radius: 15px;
                margin-top: 20px;
                justify-self: center;

                display: grid;
                grid-template-columns: 62.5% 32.5%;
                grid-template-rows: auto;
                grid-gap: 3%;

                .text-input{
                    position: relative;
                    top: 13%;
                    left: 4%;
                    height: 75%;

                    font-family: $font-raleway;
                    font-weight: lighter;
                    font-size: 60px;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 15px;

                    &::placeholder{
                        color: #000000;
                        opacity: 0.3;
                    }
                }

                .pink-rectangle{
                    position: relative;
                    top: 10%;
                    height: 80%;
                    background-color: $brand-pink;
                    border-radius: 45px;

                    .character-input{
                        position: relative;
                        height: 85%;
                        width: 90%;
                        top: 10%;
                        left: 7%;

                        font-family: $font-courier;
                        font-weight: normal;
                        font-size: 50px;
                        color: $brand-white;
                        text-align: center;
                        letter-spacing: 20px;

                        &::placeholder{
                            color: $brand-white;
                            opacity: 0.3;
                        }
                    }
                }
            }

            .submit-btn{
                grid-area: button;
                justify-self: center;
                height: max-content;

                font-family: $font-raleway;
                font-weight: lighter;
                font-size: 30px;
                text-align: center;
                color: $brand-white;
            }
        }

    }
}

/* ------------------------------- Input Box ------------------------------- */
input{
    border: none;
    background-color: transparent;

    &:focus{
        border: none !important;
        outline: none;
    }
}

/* --------------------------------- Alert Animation --------------------------------- */
.show-alert{
    animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.hide-alert{
   display: none; 
}

/* ---------------------------- Imported CSS ---------------------------- */
.button-87 {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

.button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button-87:active {
    transform: scale(0.95);
}







