$card-color: #A992B3;
$intro-heading-colr: #CCCCCC;
$short-paragraph-color: #5A508C;
$underline-color: #E6C4CC;
$closing-color: #333333;
$body-color: #3D3567;

$note-white: #FBFFFE;
$note-black: #0B2027;


$note-charcoal: #2C4251;
$red-dark: #860A24;


/*  font-size * 0.6 = font-width
    font-width * 30 = a line that fits 30 characters */
$note-font-size: 1rem;
$note-letter-spacing: 0.25em;
$note-width: calc(($note-font-size * 0.6 * 30) + ($note-letter-spacing * 48));
$font-courier: 'Courier New', Courier, monospace;


/*************** DESKTOP VIEW ***************/
main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.flex-centralize {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.paper-background{
    padding: 0.25rem 1.5rem;
    margin: 0 auto;
    width: $note-width;
    border-radius: 8px;
    background-color : $card-color;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.list {
    padding: 0 !important;
    font-family: $font-courier;
    font-size: $note-font-size;

    li {
        list-style: none;
        text-align: left;
        letter-spacing: $note-letter-spacing;
    }
}

.intro-heading {
    font-weight: 700;
    color: $intro-heading-colr;
    font-size: calc($note-font-size * 1.5);
    padding-top: 0;
    padding-bottom: 1rem;
    border: none !important;
    text-align: center !important;
}

.greeting {
    font-weight: 700;
    padding-bottom: 0.5rem;
    color: $short-paragraph-color;
    border-bottom: 2px dotted $underline-color;
}

.intro {
    font-weight: 700;
    padding: 0.5em 0;
    color: $short-paragraph-color;
    border-bottom: 2px dotted $underline-color;
}

.closing {
    font-weight: 700;
    font-style: italic;
    color: $closing-color;
    text-align: center !important;
}

/** BLOCK STYLES **/
.block {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: calc($note-font-size * 0.615) !important;

    svg {
        width: calc($note-font-size * 0.615);
        max-width: 0.615remcalc($note-font-size * 0.615);
        height: auto;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        padding-right: 2px;
      }
}

/** LETTER STYLE **/
.letter {
    font-weight: 700;
    text-transform: lowercase;
}

/************** MOBILE VIEWS ***************/
@media (max-width: 500px) {
    main {
        position: absolute;
        overflow-x: scroll;
        padding: 1rem;
    }
}
